.container {
    width: 40%;
}

.form-group-padding {
    padding: 10px;
    border: none;
}

.form-margin {
    margin: 30px 0;
}

.is-invalid {
    color: white;
    margin-top: -20px;
}

.invalid {
    border-color: #dc3545;
}

.card {
    border: none;
    margin-top: 80px;
}

.lg-btn{
    width: 100%;
    color: white;
    font-size: 18px;
    font-family: sans-serif;
}

.header {
    color: white;
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
}

button:active{
    border: none;
    outline: none;
}

button:click{
    border: none;
    outline: none;
}

